<div class="bg2">

</div>
<%= render "layouts/nav" %>
ß<h6 class="text" data-text="Here at Disrupt, Disruptive Pattern Marketplace we are passionate about bringing you the
freshest in DPM styles from around the globe.</p>
Be it, Desert & Beach, Jungle & Forest, Snow or Urban, we have the pattern to help you meld into your environment."></p>
Here at Disrupt, Disruptive Pattern Marketplace we are passionate about bringing you the
freshest in DPM styles from around the globe.</p>
Be it, Desert & Beach, Jungle & Forest, Snow or Urban, we have the pattern to help you meld into your environment.
</h6>
