<div class="bg4">

</div>
<%= render "layouts/nav" %>
<h6 class="text" data-text="Here at Disrupt, Disruptive Pattern Marketplace we are passionate about bringing you the
freshest in DPM styles from around the globe.</p>
Be it, Desert & Beach, Jungle & Forest, Snow or Urban, we have the pattern to help you meld into your environment."></p>
Remember when being seen used to be cool? Us neither.</p>
Here at Disrupt, Disruptive Pattern Marketplace we are passionate about bringing you the
freshest in DPM styles from around the globe.</p>
Our mission here is to provide the right pattern for the right environment be it, Desert & Beach, Jungle & Forest, Snow or Urban, we want you to dissapear into it.
</h6>
