<div class="bg4">
</div>
<%= render "layouts/nav" %>
<div class="about-styles">
<div class="glitch-small" data-text="CONTACT."> CONTACT. </div>

<strong>E-mail:</strong> 
<p>disruptmp@diruspt.com</p>

<strong>Ph:</strong> <p>(03) 9999 6666
</p>
<strong>Address:</strong> <p>1337 Sertoga Drive, Melbourne, Australia.</p>
</div>
