<div class= "bg4">
</div>
<div class="sell-form-styles">
<h1 class="glitch-small" data-text="EDIT">EDIT</h1>
<div class="subtext">EDITING PRODUCT:</div>
<br/>
<%= render 'form', product: @product %>


</div>
</div>
</div>
