<div class= "bg4">
</div>
<div class="sell-form-styles">
<h1 class="glitch-small" data-text="EDIT">EDIT</h1>
<div class="subtext">EDITING PRODUCT:</div>
<br/>
<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
</div>
</div>
</div>
