<div class="bg4">

</div>

<p id="notice"><%= notice %></p>

<div class="product-form-styles">
<h1 class="glitch-small" data-text="SELL">SELL</h1>
<div class="subtext">LIST YOUR ITEM:</div>
<br/>
<%= render 'form', product: @product %>

</div>
</div>
</div>
